* {
   margin: 0;
   padding: 0;
}
nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px 10px;
  letter-spacing: 2px;
}
.mainPage {
  background-color:#CDBE65;
  color: black
}
body {
   background-color: white;
   margin: 0;
   padding:0;
}
.mainh1{
  letter-spacing: 2px;
  font-size: 35px;
  padding-top: 32px;
  padding-right: 85px;
}
.wholetable {
   width: 100vw;
   font-size: 9px;;
}
table {
   border-collapse: collapse;
}
tbody {
   display: flex;
}
tr {
   display: block;
   float: left;
}
th,
td {
   display: block;
   border: 1px solid black;
}

table,
th,
td {
   border: 1px solid black;
}
.mainHeader {
  font-family: 'Bangers', cursive;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
   background-color:#CD6574;
   width: 100vw;
   height: 15vh;
   text-align: center;
}

.formcontainer {
  font-family: 'Bowlby One SC', cursive;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 15px;
}
.hadi {
   font-size: 30px;
   padding-left: 8%;
}
.quantinput {
   height: 30px;
   padding: 5px;
}
.qinput {
   padding: 5px;
   padding-left: 10%;
}
.aday {
   padding: 5px;
   text-align: center;
}
.select {
   height: 30px;
   width: 150px;
}
.comp {
   padding: 10px;
}
.stock-input {
   height: 30px;
   width: 150px;
}
.in {
   font-size: 15px;
   padding-left: 14%;
}
.stock {
   text-align: center;
}

.startingon {
   padding-left: 16%;
}

.date {
   text-align: center;
}

.plus {
   text-align: center;
   width: 50%;
}

@media (min-width: 600px) {
   * {
      margin: 0;
      padding: 0;
   }

   body {
      background-color: black;
   }
}
