* {
   margin: 0;
   padding: 0;
}

body {
   background-color: red;
}

.main-header {
   background-color: blue;
   padding: 30px;
   text-align: center;
}

.formcontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 40px;
}
.hadi {
   font-size: 30px;
   padding-left: 8%;
}
.quantinput {
   height: 30px;
   padding: 5px;
}
.qinput {
   padding: 5px;
   padding-left: 10%;
}
.aday {
   padding: 5px;
   text-align: center;
}
.select {
   height: 30px;
   width: 150px;
}
.comp {
  padding: 15px;
}
.stock-input {
   height: 30px;
   width: 150px;
}
.in {
   font-size: 15px;
   padding-left: 14%;
}
.stock {
   text-align: center;
}

.startingon {
   padding-left: 16%;
}

.date {
   text-align: center;
}

.plus {
   text-align: center;
   width: 50%;
}

@media (min-width: 600px) {
   * {
      margin: 0;
      padding: 0;
   }

   body {
      background-color: black;
   }
}
